<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teams registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
    <div class="row">
        <div class="col" align="center">
            <h1>Registrace zápasu</h1>
        </div>
    </div>

    <div class="container">
            <form  method="post" action="#" th:action="@{/game_registration}" th:object="${game}">

                <div class="row">
                    <div class="col-sm">
                        <label>datum</label>
                        <input type="date" class="form-control" th:field="*{date}" />
                    </div>
                    <div class="col-sm">
                        <label>kolo</label>
                        <input type="number" class="form-control" th:field="*{round}" />
                    </div>
                    <div class="col-sm">
                        <label>domácí</label><br/>
                        <select class="form-select" th:field="*{home}" >
                            <option th:each="c : ${domaci}" th:value="${c.id}" th:text="${c.name}"></option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <label>Division</label><br/>
                            <select class="form-select" th:field="*{guest}">
                                <option th:each="d : ${hoste}" th:value="${d.id}" th:text="${d.name}"></option>
                            </select>
                    </div>
                        <button type="submit">Register</button>
                </div>

            </form>
    </div>


</body>
</html>