<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <title>Games 2018</title>
</head>
<body>
    <div class="container">
        <div><br></div>
        <div class="row bg-dark text-white" align="center">
            <h2>Seznam her - sezona 2018</h2>
        </div>
        <div class="row row-cols">
            <div class="col" align="right">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">datum</th>
                            <th scope="col">domácí</th>
                            <th scope="col">hosté</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="game : ${gameList}">
                            <td>  <a class="nav-link" th:href="@{'http://localhost:8080/game_fill/'+${game.id}}" th:text="${game.id}"></a></td>
                            <td th:text="${game.date}"></td>
                            <td th:text="${game.home_team}"></td>
                            <td th:text="${game.guest_team}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>
</html>