<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
    <div align="center">
        <h1>Registration Success</h1>
        <samp>Jméno teamu: </samp><span th:text="${team.name}"></span><br/>
        <samp>Konference:  </samp><span th:text="${team.conference}"></span><br/>
        <samp>Divize:  </samp><span th:text="${team.division}"></span><br/>
    </div>
    <div align="center">
        <button type="button" class="btn btn-outline-primary">
            <a class="btn btn-primary" href="http://localhost:8080/team_registration" role="button">zpět na zádávání</a>
        </button>
    </div>

</body>
</html>